.border-bronze {
  border-color: #945d41!important;
}

.border-silver {
  border-color: #C0C0C0!important;
}

.border-gold {
  border-color: #FFD700!important;
}

.border-platinum {
  border-color: #E5E4E2!important;
}

.border-diamond {
  border-color: #B9F2FF!important;
}

.bg-bronze {
  background-color: #945d41!important;
}

.bg-silver {
  background-color: #C0C0C0!important;
}

.bg-gold {
  background-color: #FFD700!important;
}

.bg-platinum {
  background-color: #E5E4E2!important;
}

.bg-diamond {
  background-color: #B9F2FF!important;
}
